{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
// write you code here
{% endblock start %}

{% block example %}
{% endblock %}

{% block tests %}
{% endblock %}

{% block final %}
{% endblock final %}